$font-1: "Graduate", cursive;
$font-2: "Playfair Display SC", serif;
$size: 40px;

@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Graduate&family=Playfair+Display+SC&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Antic Slab", serif;
}
body {
  background-image: url("../img/bg.jpg");
}
// navbar
.navbar-light .navbar-toggler-icon {
  background-color: gray;
}
.navbar-expand-lg .navbar-nav {
 background-image: url("../img/bg.jpg");
}

// video-bg
.video-bg {
  position: relative;
  background-color: black;
  height: 80vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;

  h1 {
    font-size: 55px;
    padding-top: 100px;
    font-family: $font-1;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: initial;
  }
  p {
    font-size: 20px;
    padding-top: 30px;
  }
}

.video-bg video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-bg .container {
  position: relative;
  z-index: 2;
}

.video-bg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}

.container-fluid {
  background-image: url("../img/bg.jpg");
}
/* card */
.titulo-prod {
  font-size: 50px;
  font-family: $font-1;
}
.card {
  margin-top: 5px;

  h5 {
    text-align: center;
    font-family: $font-2;
    font-weight: 650;
  }
  p {
    font-weight: 650;
  }
}
.btn {
  display: flex;
  justify-content: center;
  font-family: $font-2;
  font-weight: 650;
}
.card-text {
  text-align: center;
}
/* card company */
.oficina-maquinaria {
  padding-top: 20px;
  padding-bottom: 20px;

  h2 {
    font-size: $size;
    font-family: $font-1;
  }
  h5 {
    font-size: $size;
    font-family: $font-2;
  }
  p {
    font-size: 20px;
    padding-top: 20px;
    font-weight: 600;
  }
}
/* carrusel */
.carousel-inner {
  padding: 20px;

  img {
    height: 450px;
  }
}
.galeria {
  font-size: $size;
  font-family: $font-1;

  h2 {
    font-size: $size;
    font-family: $font-1;
  }
}
/* formulario */
.formulario {
  h2 {
    color: aliceblue;
    text-align: center;
    font-size: $size;
    font-family: $font-1;
  }
  p {
    color: aliceblue;
    font-size: 25px;
  }
}
.form {
  background-image: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)),url(../img/1.jpg);
  background-size: cover;

  button {
    font-weight: 700;
  }
}
.card-img {
  height: 450px;
}
.contactanos {
  p {
    font-family: $font-1;
    font-size: 32px;
  }
}
/* 6 ejes */
.seis-ejes {
  margin-top: 90px;

  img {
    height: 712px;
    width: auto;
  }
  p {
    font-size: 20px;
    padding: 10px;
  }
}
/* delta */
.delta {
  margin-top: 90px;

  img {
    height: 712px;
  }
  p {
    font-size: 20px;
    padding: 10px;
  }
}
/* paletizador */
.paletizador {
  margin-top: 90px;

  h4 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
    padding-top: 20px;
  }
}
/* scara */
.scara {
  margin-top: 90px;

  img {
    height: 712px;
  }
  h4 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
  }
}
/* footer */
.footer {
  h2 {
    font-size: $size;
    font-family: $font-1;
    padding-bottom: 20px;
  }
}
.copy {
  background-color: rgba(0, 0, 0, 0.2);
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@import "_navbar";

// responsive dimensions 425 x 423 100%
@media only screen and (min-width: 380px) and (max-width: 480px) {
  .video-bg {
    position: relative;
    background-color: black;
    height: 150vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  
    h1 {
      font-size: 45px;
      font-family: $font-1;
      animation-duration: 2s;
      animation-name: aparecer;
      animation-iteration-count: initial;
    }
    p {
      font-size: 20px;
    }
  }
  .carousel-inner {
    padding: 20px;
  
    img {
      height: 350px;
      background-size: cover;
    }
  }
  .galeria {
    font-size: $size;
    font-family: $font-1;
  
    h2 {
      font-size: 35px;
      font-family: $font-1;
    }
  }
}