@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Graduate&family=Playfair+Display+SC&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Antic Slab", serif;
}

body {
  background-image: url("../img/bg.jpg");
}

.navbar-light .navbar-toggler-icon {
  background-color: gray;
}

.navbar-expand-lg .navbar-nav {
  background-image: url("../img/bg.jpg");
}

.video-bg {
  position: relative;
  background-color: black;
  height: 80vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.video-bg h1 {
  font-size: 55px;
  padding-top: 100px;
  font-family: "Graduate", cursive;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

.video-bg p {
  font-size: 20px;
  padding-top: 30px;
}

.video-bg video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-bg .container {
  position: relative;
  z-index: 2;
}

.video-bg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}

.container-fluid {
  background-image: url("../img/bg.jpg");
}

/* card */
.titulo-prod {
  font-size: 50px;
  font-family: "Graduate", cursive;
}

.card {
  margin-top: 5px;
}

.card h5 {
  text-align: center;
  font-family: "Playfair Display SC", serif;
  font-weight: 650;
}

.card p {
  font-weight: 650;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Playfair Display SC", serif;
  font-weight: 650;
}

.card-text {
  text-align: center;
}

/* card company */
.oficina-maquinaria {
  padding-top: 20px;
  padding-bottom: 20px;
}

.oficina-maquinaria h2 {
  font-size: 40px;
  font-family: "Graduate", cursive;
}

.oficina-maquinaria h5 {
  font-size: 40px;
  font-family: "Playfair Display SC", serif;
}

.oficina-maquinaria p {
  font-size: 20px;
  padding-top: 20px;
  font-weight: 600;
}

/* carrusel */
.carousel-inner {
  padding: 20px;
}

.carousel-inner img {
  height: 450px;
}

.galeria {
  font-size: 40px;
  font-family: "Graduate", cursive;
}

.galeria h2 {
  font-size: 40px;
  font-family: "Graduate", cursive;
}

/* formulario */
.formulario h2 {
  color: aliceblue;
  text-align: center;
  font-size: 40px;
  font-family: "Graduate", cursive;
}

.formulario p {
  color: aliceblue;
  font-size: 25px;
}

.form {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/1.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/1.jpg);
  background-size: cover;
}

.form button {
  font-weight: 700;
}

.card-img {
  height: 450px;
}

.contactanos p {
  font-family: "Graduate", cursive;
  font-size: 32px;
}

/* 6 ejes */
.seis-ejes {
  margin-top: 90px;
}

.seis-ejes img {
  height: 712px;
  width: auto;
}

.seis-ejes p {
  font-size: 20px;
  padding: 10px;
}

.list-group-item {
  font-weight: 500;
}

/* delta */
.delta {
  margin-top: 90px;
}

.delta img {
  height: 712px;
}

.delta p {
  font-size: 20px;
  padding: 10px;
}

/* paletizador */
.paletizador {
  margin-top: 90px;
}

.paletizador h4 {
  font-size: 30px;
}

.paletizador p {
  font-size: 20px;
  padding-top: 20px;
}

/* scara */
.scara {
  margin-top: 90px;
}

.scara img {
  height: 712px;
}

.scara h4 {
  font-size: 30px;
}

.scara p {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 40px;
}

/* footer */
.footer h2 {
  font-size: 40px;
  font-family: "Graduate", cursive;
  padding-bottom: 20px;
}

.copy {
  background-color: rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.offcanvas-body {
  background-image: url("../img/off-canvas.jpg");
  background-size: cover;
  background-position: center;
}

.offcanvas-body ul li a {
  text-transform: uppercase;
  font-size: 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar img {
  cursor: pointer;
  height: 78px;
}

.nav-link {
  margin: 0 10px;
  font-family: "Playfair Display SC", serif;
}

.offcanvas-title {
  font-family: "Graduate", cursive;
}

@media only screen and (min-width: 380px) and (max-width: 480px) {
  .video-bg {
    position: relative;
    background-color: black;
    height: 150vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  .video-bg h1 {
    font-size: 45px;
    font-family: "Graduate", cursive;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
    -webkit-animation-iteration-count: initial;
            animation-iteration-count: initial;
  }
  .video-bg p {
    font-size: 20px;
  }
  .carousel-inner {
    padding: 20px;
  }
  .carousel-inner img {
    height: 350px;
    background-size: cover;
  }
  .galeria {
    font-size: 40px;
    font-family: "Graduate", cursive;
  }
  .galeria h2 {
    font-size: 35px;
    font-family: "Graduate", cursive;
  }
}
/*# sourceMappingURL=style.css.map */