$font-1: "Graduate", cursive;
$font-2: "Playfair Display SC", serif;
$size: 40px;

@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Graduate&family=Playfair+Display+SC&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Antic Slab", serif;
}
body {
  background-image: url("../img/off-canvas.jpg");
}
/* jumbotron */
.jumbotron {
  background-image: url("../img/off-canvas.jpg");
  height: auto;
  background-size: cover;
  background-position: bottom;

  h1 {
    font-size: 55px;
    text-align: center;
    padding-top: 30px;
    font-family: $font-1;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: initial;
  }
  p {
    font-size: 20px;
    text-align: center;
  }
}
/* card */
.titulo-prod {
  font-size: 42px;
  font-family: $font-1;
}
.card {
  margin-top: 5px;

  h5 {
    text-align: center;
    font-family: $font-2;
  }
}
.btn {
  display: flex;
  justify-content: center;
  font-family: $font-2;
}
.card-text {
  text-align: center;
}
/* card company */
.oficina-maquinaria {
  padding-top: 20px;
  padding-bottom: 20px;

  h2 {
    font-size: $size;
    font-family: $font-1;
  }
  h5 {
    font-size: $size;
    font-family: $font-2;
  }
  p {
    font-size: 20px;
    padding-top: 20px;
  }
}
/* carrusel */
.carousel-inner {
  padding: 20px;

  img {
    height: 450px;
  }
}
.galeria {
  font-size: $size;
  font-family: $font-1;

  h2 {
    font-size: $size;
    font-family: $font-1;
  }
}
/* formulario */
.formulario {
  h2 {
    color: aliceblue;
    text-align: center;
    font-size: $size;
    font-family: $font-1;
  }
  p {
    color: aliceblue;
    font-size: 25px;
  }
}
.form {
  background-image: url("../img/off-canvas.jpg");
}
.card-img {
  height: 450px;
}
.contactanos {
  p {
    font-family: $font-1;
    font-size: 32px;
  }
}
/* 6 ejes */
.seis-ejes {
  margin-top: 90px;

  img {
    height: 712px;
    width: auto;
  }
  p {
    font-size: 20px;
    padding: 10px;
  }
}
/* delta */
.delta {
  margin-top: 90px;

  img {
    height: 712px;
  }
  p {
    font-size: 20px;
    padding: 10px;
  }
}
/* paletizador */
.paletizador {
  margin-top: 90px;

  h4 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
    padding-top: 20px;
  }
}
/* scara */
.scara {
  margin-top: 90px;

  img {
    height: 712px;
  }
  h4 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
  }
}
/* footer */
.footer {
  h2 {
    font-size: $size;
    font-family: $font-1;
    padding-bottom: 20px;
  }
}
.copy {
  background-color: rgba(0, 0, 0, 0.2);
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@import "_navbar";

.maps {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

$redes: (
  red1: "Antic Slab",
  red2: "Playfair Display SC",
  red3: "Graduate",
);

@each $red, $font in $redes {
  .btn--#{$red} {
    background-color: #333;
    height: 100px;
    width: 500px;
    border: 2px solid #111;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
    margin: 20px 0;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 5px #f00;
  }
  .btn--#{$red} a {
    text-decoration: none;
    color: #fff;
    font-family: $font;
  }
}